<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>orderID</key>
		<string>123456789</string>
		<key>ID</key>
		<string>1234</string>
		<key>totalMoney</key>
		<string>123456789</string>
		<key>shop</key>
		<array>
			<dict>
				<key>totalMoney</key>
				<string>123</string>
				<key>shopName</key>
				<string>五金店</string>
				<key>shopID</key>
				<string>123456</string>
				<key>vip</key>
				<string>1</string>
				<key>product</key>
				<array>
					<dict>
						<key>category</key>
						<string>十五斤</string>
						<key>name</key>
						<string>家用电器</string>
						<key>ID</key>
						<string>5</string>
						<key>money</key>
						<string>36</string>
						<key>image</key>
						<string>images\product_imgs\1.jpg</string>
						<key>number</key>
						<string>20</string>
					</dict>
					<array>
						<dict>
							<key>category</key>
							<string>十五斤</string>
							<key>name</key>
							<string>家用电器</string>
							<key>ID</key>
							<string>5</string>
							<key>money</key>
							<string>36</string>
							<key>image</key>
							<string>images\product_imgs\1.jpg</string>
							<key>number</key>
							<string>20</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>category</key>
							<string>十五斤</string>
							<key>name</key>
							<string>家用电器</string>
							<key>ID</key>
							<string>5</string>
							<key>money</key>
							<string>36</string>
							<key>image</key>
							<string>images\product_imgs\1.jpg</string>
							<key>number</key>
							<string>20</string>
						</dict>
					</array>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>orderID</key>
		<string>123456789</string>
		<key>ID</key>
		<string>1234</string>
		<key>totalMoney</key>
		<string>123456789</string>
		<key>shop</key>
		<array>
			<dict>
				<key>totalMoney</key>
				<string>123</string>
				<key>shopName</key>
				<string>五金店</string>
				<key>shopID</key>
				<string>123456</string>
				<key>vip</key>
				<string>1</string>
				<key>product</key>
				<array>
					<dict>
						<key>category</key>
						<string>十五斤</string>
						<key>name</key>
						<string>家用电器</string>
						<key>ID</key>
						<string>5</string>
						<key>money</key>
						<string>36</string>
						<key>image</key>
						<string>images\product_imgs\1.jpg</string>
						<key>number</key>
						<string>20</string>
					</dict>
					<array>
						<dict>
							<key>category</key>
							<string>十五斤</string>
							<key>name</key>
							<string>家用电器</string>
							<key>ID</key>
							<string>5</string>
							<key>money</key>
							<string>36</string>
							<key>image</key>
							<string>images\product_imgs\1.jpg</string>
							<key>number</key>
							<string>20</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>category</key>
							<string>十五斤</string>
							<key>name</key>
							<string>家用电器</string>
							<key>ID</key>
							<string>5</string>
							<key>money</key>
							<string>36</string>
							<key>image</key>
							<string>images\product_imgs\1.jpg</string>
							<key>number</key>
							<string>20</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>totalMoney</key>
				<string>123</string>
				<key>shopName</key>
				<string>五金店</string>
				<key>shopID</key>
				<string>123456</string>
				<key>vip</key>
				<string>1</string>
				<key>product</key>
				<array>
					<dict>
						<key>category</key>
						<string>十五斤</string>
						<key>name</key>
						<string>家用电器</string>
						<key>ID</key>
						<string>5</string>
						<key>money</key>
						<string>36</string>
						<key>image</key>
						<string>images\product_imgs\1.jpg</string>
						<key>number</key>
						<string>20</string>
					</dict>
					<array>
						<dict>
							<key>category</key>
							<string>十五斤</string>
							<key>name</key>
							<string>家用电器</string>
							<key>ID</key>
							<string>5</string>
							<key>money</key>
							<string>36</string>
							<key>image</key>
							<string>images\product_imgs\1.jpg</string>
							<key>number</key>
							<string>20</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>category</key>
							<string>十五斤</string>
							<key>name</key>
							<string>家用电器</string>
							<key>ID</key>
							<string>5</string>
							<key>money</key>
							<string>36</string>
							<key>image</key>
							<string>images\product_imgs\1.jpg</string>
							<key>number</key>
							<string>20</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>totalMoney</key>
				<string>123</string>
				<key>shopName</key>
				<string>五金店</string>
				<key>shopID</key>
				<string>123456</string>
				<key>vip</key>
				<string>1</string>
				<key>product</key>
				<array>
					<dict>
						<key>category</key>
						<string>十五斤</string>
						<key>name</key>
						<string>家用电器</string>
						<key>ID</key>
						<string>5</string>
						<key>money</key>
						<string>36</string>
						<key>image</key>
						<string>images\product_imgs\1.jpg</string>
						<key>number</key>
						<string>20</string>
					</dict>
					<array>
						<dict>
							<key>category</key>
							<string>十五斤</string>
							<key>name</key>
							<string>家用电器</string>
							<key>ID</key>
							<string>5</string>
							<key>money</key>
							<string>36</string>
							<key>image</key>
							<string>images\product_imgs\1.jpg</string>
							<key>number</key>
							<string>20</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>category</key>
							<string>十五斤</string>
							<key>name</key>
							<string>家用电器</string>
							<key>ID</key>
							<string>5</string>
							<key>money</key>
							<string>36</string>
							<key>image</key>
							<string>images\product_imgs\1.jpg</string>
							<key>number</key>
							<string>20</string>
						</dict>
					</array>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>orderID</key>
		<string>123456789</string>
		<key>ID</key>
		<string>1234</string>
		<key>totalMoney</key>
		<string>123456789</string>
		<key>shop</key>
		<array>
			<dict>
				<key>totalMoney</key>
				<string>123</string>
				<key>shopName</key>
				<string>五金店</string>
				<key>shopID</key>
				<string>123456</string>
				<key>vip</key>
				<string>1</string>
				<key>product</key>
				<array>
					<dict>
						<key>category</key>
						<string>十五斤</string>
						<key>name</key>
						<string>家用电器</string>
						<key>ID</key>
						<string>5</string>
						<key>money</key>
						<string>36</string>
						<key>image</key>
						<string>images\product_imgs\1.jpg</string>
						<key>number</key>
						<string>20</string>
					</dict>
					<array>
						<dict>
							<key>category</key>
							<string>十五斤</string>
							<key>name</key>
							<string>家用电器</string>
							<key>ID</key>
							<string>5</string>
							<key>money</key>
							<string>36</string>
							<key>image</key>
							<string>images\product_imgs\1.jpg</string>
							<key>number</key>
							<string>20</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>category</key>
							<string>十五斤</string>
							<key>name</key>
							<string>家用电器</string>
							<key>ID</key>
							<string>5</string>
							<key>money</key>
							<string>36</string>
							<key>image</key>
							<string>images\product_imgs\1.jpg</string>
							<key>number</key>
							<string>20</string>
						</dict>
					</array>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
