<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>10、如何查看我的VIP账单？</key>
	<string>亲，您可以在【会员中心】—【VIP】查看具体内容，包括【已支付】——已支付给卖家的金额，【未支付】——未支付给卖家的金额，【总金额】——在改卖家处消费的金额，还可以查看具体订单，具体金额。</string>
	<key>09、如何使用我的VIP？</key>
	<string>亲，一旦您成为一家店铺的VIP，您可以使用VIP挂账服务，挂账结余日期由您和卖家线下决定，在您购买商品时，可点击【VIP支付】，红色表示使用VIP支付，灰色表示不使用VIP支付。使用VIP支付，您只需要支付运费，而商品的金额将挂帐在VIP界面，按照您和卖家之前的方式，如月结、季结、年结。</string>
	<key>08、如何查看物流信息？</key>
	<string>亲，如果您拍下商品，卖家已经发货，您还没收到，您可以在【会员中心】—【待收货】里查看订单详情，找到快递人员名字和电话，进行沟通联系。</string>
	<key>07、购买流程介绍（搜索、挑选、下单）</key>
	<string>亲，在林琦购物流程简单分六步：
第一步：定位/选择城市，选择市场
进去林琦首页，点击左上角定位标志，自动定位/手动选择城市，可在选择的城市里选择您要的市场。
第二步：搜索及挑选
进入具体市场上方的搜索框中，您可选择搜索店铺，进入店铺查找商品，也可以直接搜索商品，找到您要的商品，点击进去商品页面，查看商品的详细描述。
第三步：立即购买/加入购物车	购买单个商品：点击商品页面的【立即购买】，选择您要的规格信息，确认您的收货地址后，提交订单；购买多个商品，点击商品页面的【加入购物车】，选择您要的规格信息，进入购物车，确认收货地址，提交订单。
第四步：付款
此付款动作是把钱付到林琦交易平台。
第五步：等待卖家发货
付完款后，您可以耐心等待卖家发货。
第六步：确认收货
快递人员将在两个小时内将商品送到您指定的地址。您确认收货，并对快递人员是否在两小时内送货上门给予评价，林琦将根据您的评价，来提高快递人员的服务。</string>
	<key>06、如何修改收货地址？</key>
	<string>亲，若您需要修改收货地址，请先确认目前处于哪种状态：
（1）排下订单前，建议您直接修改您的收货地址。
（2）拍下订单后，订单中的地址无法修改，如您还未付款，您可以取消订单后重新下单。</string>
	<key>05、如何退款/退货？</key>
	<string>亲，如果东西出现问题，导致您需要退款/退货，请您线下和店家联系，自行解决。</string>
	<key>04、如何修改林琦会员名？</key>
	<string>亲，您可以在【会员中心】—【头像】—【账户名称】修改会员名。</string>
	<key>03、如何退出林琦账户？</key>
	<string>亲，您可以在【会员中心】—【头像】—【退出登录】。</string>
	<key>02、如何找回林琦登陆密码？</key>
	<string>亲，您可以在【登陆页】—【忘记密码】输入您的手机号码，然后点击发送验证码，发送验证码消息到您的手机，提交，我们将发送新的密码到您的手机，请及时更改密码。</string>
	<key>01、如何修改林琦登录密码？</key>
	<string>亲，您可以进入【会员中心】—【头像】—【修改密码】修改您的林琦登录密码。</string>
</dict>
</plist>
